.container {
    display: flex;
    background: #1f2937;
}

.header {
    display: flex;
}

.headnav {
    display: flex;
    color:#e5e7eb;
}

.hlink {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    justify-content: space-around;
}
.hero h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.hero h2 {
    font-size: 18px;
    color: #e5e7eb;
}